<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Servicios</title>


    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/iconmoon.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/jquery.floating-social-share.min.css" />
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>

<body class="homepage">


    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">

                <div class="col-md-3">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="images/logoC.png" width="75px" alt="logo"></a>
                    </div>
                </div>

                <div class="col-sm-9 col-xs-8">
                   <div class="social">
                    <ul class="social-share">
                        <li class="home" data-toggle="tooltip" data-placement="bottom" title="Noticias">
                            <a href="#"><i class="icon icon-bullhorn2"></i></a>
                        </li>
                        <li class="home" data-toggle="tooltip" data-placement="bottom" title="Descargas">
                            <a href="#"><i class="fa fa-arrow-down"></i></a>
                        </li>
                        <li class="home" data-toggle="tooltip" data-placement="bottom" title="Lista de deseos">
                            <a href="#"><i class="fa fa-heart"></i></a>
                        </li> 
                        <li class="home" data-toggle="tooltip" data-placement="bottom" title="Registro">
                            <a href="#"><i class="fa fa-user"></i></a>
                        </li>
                    </ul>
                </div>


                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="home.html">Inicio</a></li>
                        <li class="active"><a href="consultoria.html">Consultoría</a></li>
                        <li><a href="#">Servicios</a></li>
                        <li><a href="#">Equipo de Trabajo</a></li>                      
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
            <li data-target="#main-slider" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">

            <div class="item active" style="background-image: url(images/slider/bg4.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                       <!--  <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                <h2 class="animation animated-item-2">Accusantium doloremque l+,audantium totam rem aperiam, eaque ipsa...</h2>
                            </div>
                        </div>  -->
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url(images/slider/bg3.jpg)">
                <div class="container">
                    <div class="row slide-margin">

                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url(images/slider/bg2.jpg)">
                <div class="container">
                    <div class="row slide-margin">

                    </div>
                </div>
            </div>
            <div class="item" style="background-image: url(images/slider/bg1.jpg)">
                <div class="container">
                    <div class="row slide-margin">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="fa fa-chevron-right"></i>
    </a>
</section>


<section id="feature">

    <div class="container" style="width:99%">
        <div class="row">
            <div id="social-sticky-bar" class="col-md-1 app">
            </div>
            <div class="col-xs-12 col-md-6 wow">
               <div class="tab-wrap"> 
                <div class="media">
                    <div class="parrent pull-left">
                        <ul class="nav nav-tabs nav-stacked">
                            <li class=""><a href="#tab1" data-toggle="tab" class="analistic-01">Responsive Web Design</a></li>
                            <li class="active"><a href="#tab2" data-toggle="tab" class="analistic-02">Premium Plugin Included</a></li>
                            <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">Predefine Layout</a></li>
                            <li class=""><a href="#tab4" data-toggle="tab" class="tehnical">Our Philosopy</a></li>
                            <li class=""><a href="#tab5" data-toggle="tab" class="tehnical">What We Do?</a></li>
                        </ul>
                    </div>

                    <div class="parrent media-body">
                        <div class="tab-content">
                            <div class="tab-pane fade" id="tab1">
                                <div class="media">

                                    <div class="media-body">
                                     <h2>Adipisicing elit</h2>
                                     <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use.</p>
                                 </div>
                             </div>
                         </div>

                         <div class="tab-pane fade active in" id="tab2">
                            <div class="media">

                                <div class="media-body">
                                 <h2>Adipisicing elit</h2>
                                 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use.
                                 </p>
                             </div>
                         </div>
                     </div>

                     <div class="tab-pane fade" id="tab3">
                         <h2>Adipisicing elit</h2>

                         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                     </div>

                     <div class="tab-pane fade" id="tab4">
                         <h2>Adipisicing elit</h2>

                         <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words</p>
                     </div>

                     <div class="tab-pane fade" id="tab5">
                         <h2>Adipisicing elit</h2>

                         <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures,</p>
                     </div>
                 </div> 
             </div> 
         </div>    
     </div>               
 </div>

 <div class="col-xs-12 col-md-5 wow">
    <div class="embed-responsive embed-responsive-4by3">
       <iframe class="embed-responsive-item" width="100%" height="255px" src="https://www.youtube.com/embed/1f_TwCx33CM" frameborder="0" allowfullscreen></iframe>
   </div>


</div>

</div>
</div>

</section>

<section id="content" style="width:99%">

    <div class="container" style="width:99%">
        <div class="container text-center" style="width:99%">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12]" role="tabpanel">
                    <div class="col-xs-12 col-sm-12">

                        <ul class="nav nav-justified" id="nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#dustin" aria-controls="dustin" role="tab" data-toggle="tab">
                                    <img class="img-circle" src="holder.js/190x190/text:A/#F48914:#fff/size:80"/>
                                </a>
                                <span class="description-badges">ASESORÍA</span>
                            </li>
                            <li role="presentation" class="">
                                <a href="#daksh" aria-controls="daksh" role="tab" data-toggle="tab">
                                   <img class="img-circle" src="holder.js/190x190/text:NIFF/#2FA2D2:#fff/size:40"/>
                               </a>
                               <span class="description-badges">NORMAS NIFF</span>
                           </li>
                           <li role="presentation" class="">
                            <a href="#anna" aria-controls="anna" role="tab" data-toggle="tab">
                                <img class="img-circle" src="holder.js/190x190/text:OF/#0D699E:#fff/size:80"/>
                            </a>
                            <span class="description-badges">OFIMÁTICA</span>
                        </li>
                        <li role="presentation" class="">
                            <a href="#wafer" aria-controls="wafer" role="tab" data-toggle="tab">
                                <img class="img-circle" src="holder.js/190x190/text:I/#51C605:#fff/size:80"/>
                            </a>
                            <span class="description-badges">IMPLEMENTACIÓN ERP</span>
                        </li>

                        <li role="presentation">
                            <a href="#dustin" aria-controls="dustin1" role="tab" data-toggle="tab">
                                <img class="img-circle" src="holder.js/190x190/text:M/#FFE600:#fff/size:80"/>
                            </a>
                            <span class="description-badges">MANEJO DE CONSTOS</span>
                        </li>
                        <li role="presentation" class="">
                            <a href="#daksh" aria-controls="daksh2" role="tab" data-toggle="tab">
                                <img class="img-circle" src="holder.js/190x190/text:P/#60056D:#fff/size:80"/> 
                            </a>
                            <span class="description-badges">PROCESOS DE MANUFACTURA</span>
                        </li>
                        <li role="presentation" class="">
                            <a href="#anna" aria-controls="anna3" role="tab" data-toggle="tab">
                                <img class="img-circle" src="holder.js/190x190/text:C/#FF0000:#fff/size:80"/>
                            </a>
                            <span class="description-badges">CONOCIMIENTOS ADMINISTRATIVOS Y CONTABLES</span>
                        </li>
                        <li role="presentation" class="">
                            <a href="#wafer" aria-controls="wafer4" role="tab" data-toggle="tab">
                                <img class="img-category img-circle" src="holder.js/190x190/text:E/#DF1FF4:#fff/size:80"/>
                            </a>
                            <span class="description-badges">MANEJO DE PROCESOS COMERCIALES DENTRO DEL ERP</span>
                        </li>
                    </ul>
                </div>
                <hr>
                <div class="col-xs-12 col-sm-12">
                    <hr>
                    <div class="tab-content" id="tabs-collapse">            
                        <div role="tabpanel" class="tab-pane fade in active" id="dustin">
                            <div class="tab-inner">                    
                                <p class="lead">Etiam tincidunt enim et pretium efficitur. Donec auctor leo sollicitudin eros iaculis sollicitudin.</p>
                                <hr>
                                <p><strong class="text-uppercase">Dustin Lamont</strong></p>
                                <p><em class="text-capitalize"> Senior web developer</em> at <a href="#">Apple</a></p>                 
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="daksh">
                            <div class="tab-inner">
                                <p class="lead">Suspendisse dictum gravida est, nec consequat tortor venenatis a. Suspendisse vitae venenatis sapien.</p>
                                <hr>
                                <p><strong class="text-uppercase">Daksh Bhagya</strong></p>
                                <p><em class="text-capitalize"> UX designer</em> at <a href="#">Google</a></p>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="anna">
                            <div class="tab-inner">
                                <p class="lead"><h1>OFIMÁTICA</h1> 
                                    Líderes en Software Empresarial con más de 20 años de experiencia
                                    El Software de Gestión Empresarial Ofimática ofrece la tecnología y apoyo que su empresa necesita para organizarse y crecer. Tenemos más de 20 años de experiencia trabajando y desarrollando soluciones de negocios.
                                    El Software Empresarial Ofimática, es un sistema integrado. Con nuestros programas podrá unificar la 
                                    información de las áreas de su empresa sin necesidad de re-digitar los datos. Con nuestro sistema la información estará al día, tendrá mayor optimización de su tiempo y control de sus procesos.</p>
                                    <hr>
                                    <p><strong class="text-uppercase">Anna Pickard</strong></p>
                                    <p><em class="text-capitalize"> Master web developer</em> at <a href="#">Intel</a></p>
                                </div> 
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="wafer">
                                <div class="tab-inner">
                                    <p class="lead"> Fusce erat libero, fermentum quis sollicitudin id, venenatis nec felis. Morbi sollicitudin gravida finibus.</p>
                                    <hr>
                                    <p><strong class="text-uppercase">Wafer Baby</strong></p>
                                    <p><em class="text-capitalize"> Web designer</em> at <a href="#">Microsoft</a></p>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="dustin1">
                                <div class="tab-inner">                    
                                    <p class="lead">Etiam tincidunt enim et pretium efficitur. Donec auctor leo sollicitudin eros iaculis sollicitudin.</p>
                                    <hr>
                                    <p><strong class="text-uppercase">Dustin Lamont</strong></p>
                                    <p><em class="text-capitalize"> Senior web developer</em> at <a href="#">Apple</a></p>                 
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="daksh2">
                                <div class="tab-inner">
                                    <p class="lead">Suspendisse dictum gravida est, nec consequat tortor venenatis a. Suspendisse vitae venenatis sapien.</p>
                                    <hr>
                                    <p><strong class="text-uppercase">Daksh Bhagya</strong></p>
                                    <p><em class="text-capitalize"> UX designer</em> at <a href="#">Google</a></p>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="anna3">
                                <div class="tab-inner">
                                    <p class="lead">Nullam suscipit ante ac arcu placerat, nec sagittis quam volutpat. Vestibulum aliquam facilisis velit ut ultrices.</p>
                                    <hr>
                                    <p><strong class="text-uppercase">Anna Pickard</strong></p>
                                    <p><em class="text-capitalize"> Master web developer</em> at <a href="#">Intel</a></p>
                                </div> 
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="wafer4">
                                <div class="tab-inner">
                                    <p class="lead"> Fusce erat libero, fermentum quis sollicitudin id, venenatis nec felis. Morbi sollicitudin gravida finibus.</p>
                                    <hr>
                                    <p><strong class="text-uppercase">Wafer Baby</strong></p>
                                    <p><em class="text-capitalize"> Web designer</em> at <a href="#">Microsoft</a></p>
                                </div>
                            </div>
                        </div>
                    </div>        
                </div>
            </div>
        </div> 
    </div>

</section>


<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
            </div>
            <div class="col-md-3">
                <img src="images/LogoGS200.png">
                
            </div>
            <div class="col-sm-4">
                <div class="social pull-right">
                    <ul class="social-share ">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12 text-center">
                <p>Desarrollado por Gestion System Copyright &copy; 2015 . Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/main.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/holder.min.js"></script>
<script type="text/javascript" src="js/jquery.floating-social-share.min.js"></script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $("#social-sticky-bar").floatingShare({
            place: "top-right", // alternatively top-left
            counter: true, // set to false to hide counters of pinterest, facebook, twitter, linkedin and google-plus
            buttons: [
            "twitter",
            "linkedin",
            "facebook", 
            "google-plus",
            "pinterest",
            "whatsapp"], // all of the currently avalaible social buttons
            title: "Gestión System", // your title, default is current page's title
            url: "www.hanoit.com",  // your url, default is current page's url
            text: "Compartir en ", // the title of a tags
            description: $("meta[name='description']").attr("Es una empresa ..."), // your description, default is current page's description
            popup_width: 600, // the sharer popup's width, default is 400px
            popup_height: 600 // the sharer popup's width, default is 300px
        });
    });
</script>


<script type="text/javascript">
    $(document).ready(function(){
    var pageTitle   = document.title; //HTML page title
    var pageUrl     = location.href; //Location of this page
    
    $('.share-btn-wrp li').click(function(event){
        var shareName = $(this).attr('class').split(' ')[0]; //get the first class name of clicked element
        switch(shareName) //switch to different links based on different social name
        {
            case 'facebook':
            OpenShareUrl('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(pageUrl) + '&amp;title=' + encodeURIComponent(pageTitle));
            break;
            case 'twitter':
            OpenShareUrl('http://twitter.com/home?status=' + encodeURIComponent(pageTitle + ' ' + pageUrl));
            break;
            case 'digg':
            OpenShareUrl('http://www.digg.com/submit?phase=2&amp;url=' + encodeURIComponent(pageUrl) + '&amp;title=' + encodeURIComponent(pageTitle));
            break;
            case 'stumbleupon':
            OpenShareUrl('http://www.stumbleupon.com/submit?url=' + encodeURIComponent(pageUrl) + '&amp;title=' + encodeURIComponent(pageTitle));
            break;
            case 'delicious':
            OpenShareUrl('http://del.icio.us/post?url=' + encodeURIComponent(pageUrl) + '&amp;title=' + encodeURIComponent(pageTitle));
            break;
            case 'gplus':
            OpenShareUrl('https://plus.google.com/share?url=' + encodeURIComponent(pageUrl) + '&amp;title=' + encodeURIComponent(pageTitle));
            break;
            case 'email':
            OpenShareUrl('mailto:?subject=' + pageTitle + '&body=Found this useful link for you : ' + pageUrl);
            break;
        }
        
    });

function OpenShareUrl(openLink){
        //Parameters for the Popup window
        winWidth    = 650; 
        winHeight   = 450;
        winLeft     = ($(window).width()  - winWidth)  / 2,
        winTop      = ($(window).height() - winHeight) / 2,
        winOptions   = 'width='  + winWidth  + ',height=' + winHeight + ',top='    + winTop    + ',left='   + winLeft;
        window.open(openLink,'Share This Link',winOptions); //open Popup window to share website.
        return false;
    }
});
</script>

<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>