<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>GS | Home</title>


    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/iconmoon.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/jquery.floating-social-share.min.css" />
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

</head>

<body class="homepage">




    <header id="header">
        <nav class="navbar navbar-inverse navbar-home" role="banner">
            <div class="container">

                <div class="col-md-3">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="images/logo/Logo_GS_PNG.png" width="85px" alt="logo"></a>
                    </div>
                </div>

                <div class="col-md-9 col-xs-12">
                 <div class="social">
                    <ul class="social-share">
                        <li class="home" data-toggle="tooltip" data-placement="bottom" title="Noticias">
                            <a href="#"><i class="icon icon-bullhorn2"></i></a>
                        </li>
                        <li class="home" data-toggle="tooltip" data-placement="bottom" title="Descargas">
                            <a href="#"><i class="fa fa-arrow-down"></i></a>
                        </li>
                        <li class="home" data-toggle="tooltip" data-placement="bottom" title="Lista de deseos">
                            <a href="#"><i class="fa fa-heart"></i></a>
                        </li> 
                        <li class="home" data-toggle="tooltip" data-placement="bottom" title="Registro">
                            <a href="#"><i class="fa fa-user"></i></a>
                        </li>
                    </ul>
                </div>


                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">INICIO</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">EMPRESA <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-item.html">Nosotros</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">SOLUCIONES <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-item.html">Servicios</a></li>
                                <li><a href="pricing.html">Productos</a></li>
                            </ul>
                        </li>
                        <li><a href="portfolio.html">CASOS DE EXITO</a></li>
                        
                        <li><a href="blog.html">GS CENTER</a></li> 
                        <li><a href="contact-us.html">CONTÁCTENOS</a></li>                        
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <div class="carousel-inner carousel-news-home">

            <div class="item active" style="background-image: url(images/news/ndd.png)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Noticia 1</h1>
                                <h2 class="animation animated-item-2">Accusantium doloremque l+,audantium totam rem aperiam, eaque ipsa...</h2>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url(images/news/ndd.png)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Noticia 2</h1>
                                <h2 class="animation animated-item-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus placeat iste impedit vitae, facere eum consequatur ...</h2>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url(images/news/dia-01.png)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Noticia 3</h1>
                                <h2 class="animation animated-item-2">Accusantium doloremque l+,audantium totam rem aperiam, eaque ipsa...</h2>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>

        </div>
    </div>
    <a class="prev" href="#main-slider" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="next" href="#main-slider" data-slide="next">
        <i class="fa fa-chevron-right"></i>
    </a>
</section>
<div class="row no-margin">
    <div class="col-md-7 no-margin">
        <section id="main-slider-2" class="main-slider no-margin">

            <div class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#main-slider-2" data-slide-to="0" class="active"></li>
                    <li data-target="#main-slider-2" data-slide-to="1"></li>
                    <li data-target="#main-slider-2" data-slide-to="2"></li>
                    <li data-target="#main-slider-2" data-slide-to="3"></li>
                    <li data-target="#main-slider-2" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">

                    <div class="item active" style="background-image: url(images/slider/bg4.jpg)">
                        <div class="container">
                            <div class="row slide-margin">

                            </div>
                        </div>
                    </div>

                    <div class="item" style="background-image: url(images/slider/bg3.jpg)">
                        <div class="container">
                            <div class="row slide-margin">

                            </div>
                        </div>
                    </div>

                    <div class="item" style="background-image: url(images/slider/bg2.jpg)">
                        <div class="container">
                            <div class="row slide-margin">

                            </div>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(images/slider/bg1.jpg)">
                        <div class="container">
                            <div class="row slide-margin">

                            </div>
                        </div>
                    </div>
                    <div class="item" style="background-image: url(images/slider/bg1.jpg)">
                        <div class="container">
                            <div class="row slide-margin">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="prev" href="#main-slider-2" data-slide="prev">
                <i class="fa fa-chevron-left"></i>
            </a>
            <a class="next" href="#main-slider-2" data-slide="next">
                <i class="fa fa-chevron-right"></i>
            </a>
        </section>
    </div>
    <div class="col-md-4 no-margin">

        <a href="" class="home-section-slider lava">
            <div class="list-price-link">
                <i class="fa fa-money"></i>
            </div>
            <span>Lista de precios</span>
            <span>(Sugerencias para previsualizar PDF)</span>
        </a>
        <div class="home-section-slider sky">
            <div>
                NIFF
            </div>

        </div>
    </div>
    <div id="social-sticky-bar" class="col-md-1">
    </div>
</div>

<section id="feature">

    <div class="container">

        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-uppercase text-bold-700">Unidades de negocio</h3>
                </div>
            </div>
        </div>

        <div class="container text-center">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12]" role="tabpanel">
                    <div class="col-xs-12 col-sm-12">

                        <ul class="nav nav-justified" id="nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a role="tab" data-toggle="tab" >
                                    <img class="img-category img-circle" src="images/iconos_unidades_negocio/OFIMATICA.png"/>
                                </a>
                                <span class="description-badges">Ofimática</span>
                            </li>
                            <li role="presentation" class="">
                                <a role="tab" data-toggle="tab" >
                                 <img class="img-category img-circle" src="images/iconos_unidades_negocio/GPS.png"/>
                             </a>
                             <span class="description-badges">GPS Desarrollo</span>
                         </li>
                         <li role="presentation" class="">
                            <a role="tab" data-toggle="tab">
                                <img class="img-category img-circle" src="images/iconos_unidades_negocio/VENTAS.png"/>
                            </a>
                            <span class="description-badges">Ventas</span>
                        </li>
                        <li role="presentation" class="">
                            <a href="consultoria.html">
                                <img class="img-category img-circle" src="images/iconos_unidades_negocio/CONSULTORIA.png"/>
                            </a>
                            <span class="description-badges">Consultoría</span>
                        </li>

                        <li role="presentation">
                            <a role="tab" data-toggle="tab" >
                                <img class="img-category img-circle" src="images/iconos_unidades_negocio/INFORMATICA.png"/>
                            </a>
                            <span class="description-badges">Soporte</span>
                        </li>
                        <li role="presentation" class="">
                            <a role="tab" data-toggle="tab">
                                <img class="img-category img-circle" src="images/iconos_unidades_negocio/FORMACION.png"/> 
                            </a>
                            <span class="description-badges">Formación</span>
                        </li>

                        <li role="presentation" class="">
                            <a role="tab" data-toggle="tab" >
                                <img class="img-category img-circle" src="images/iconos_unidades_negocio/GSCENTER.png"/>
                            </a>
                            <span class="description-badges">Center</span>
                        </li>
                    </ul>
                </div>      
            </div>
        </div>
    </div> 
</div>
</section>

<section id="content" class="client-banner">

    <div class="container text-center">

       <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-uppercase text-bold-700">PARTNERS</h3>
            </div>
        </div>
    </div>


    <div class="container">

        <div class='row'>
            <div class='col-md-12'>
              <div class="carousel slide media-carousel" id="media">
                <div class="carousel-inner">
                  <div class="item  active">
                    <div class="row">
                        <div class="col-md-3 col-xs-6 col-sm-6">
                            <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                        </div>
                        <div class="col-md-3 col-xs-6 col-sm-6">
                            <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                        </div>          
                        <div class="col-md-3 col-xs-6 col-sm-6">
                            <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                        </div>
                        <div class="col-md-3 col-xs-6 col-sm-6">
                            <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                        </div>        
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                      <div class="row">
                        <div class="col-md-3 col-xs-6 col-sm-6">
                            <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                        </div>
                        <div class="col-md-3 col-xs-6 col-sm-6">
                            <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                        </div>          
                        <div class="col-md-3 col-xs-6 col-sm-6">
                            <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                        </div>
                        <div class="col-md-3 col-xs-6 col-sm-6">
                            <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                        </div>        
                    </div>      
                </div>
            </div>
            <div class="item">
                <div class="row">
                  <div class="row">
                    <div class="col-md-3 col-xs-6 col-sm-6">
                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-6">
                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                    </div>          
                    <div class="col-md-3 col-xs-6 col-sm-6">
                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-6">
                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                    </div>        
                </div>     
            </div>
        </div>
    </div>
    <a data-slide="prev" href="#media" class="left carousel-control">
        <i class="fa fa-arrow-left"></i>
    </a>
    <a data-slide="next" href="#media" class="right carousel-control">
        <i class="fa fa-arrow-right"></i>
    </a>
</div>                          
</div>

</div>
</div>
</div>

</section>

<section id="feature" >
    <div class="container">
        <div class="container text-center gmap-area">
            <div class="row">

                <div class="col-xs-12 col-md-6 text-center">
                    <div class="gmap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.343311880458!2d-75.579079!3d6.218378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x865509ae17f141b4!2sGS+Gestion+System!5e0!3m2!1ses!2ses!4v1429679321463" width="600" height="450" frameborder="0" style="border:0"></iframe>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 wow">
                    <div class="embed-responsive embed-responsive-4by3">
                     <iframe class="embed-responsive-item" width="100%" height="255px" src="https://www.youtube.com/embed/1f_TwCx33CM" frameborder="0" allowfullscreen>

                     </iframe>
                 </div>
             </div>
         </div>
     </div> 
 </div>
</section>

<footer id="footer" class="midnight-blue footer-home">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-3">
                <img src="images/LogoGS200.png">
                
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-offset-5 col-md-6">
                        <span class="pull-right">Manténte en contacto</span>
                    </div>
                </div>
                <div class="social pull-right">
                    <ul class="social-share social-share-home">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12 text-center">
                <p>Desarrollado por Gestion System Copyright &copy; 2015 . Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/main.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/holder.min.js"></script>
<script type="text/javascript" src="js/jquery.floating-social-share.min.js"></script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $('#media').carousel({
            pause: true,
            interval: false,
        });

        $("#social-sticky-bar").floatingShare({
            place: "top-right", // alternatively top-left
            counter: true, // set to false to hide counters of pinterest, facebook, twitter, linkedin and google-plus
            buttons: [
            "twitter",
            "linkedin",
            "facebook", 
            "google-plus",
            "pinterest",
            "whatsapp"], // all of the currently avalaible social buttons
            title: "Gestión System", // your title, default is current page's title
            url: "www.hanoit.com",  // your url, default is current page's url
            text: "Compartir en ", // the title of a tags
            description: $("meta[name='description']").attr("Es una empresa ..."), // your description, default is current page's description
            popup_width: 600, // the sharer popup's width, default is 400px
            popup_height: 600 // the sharer popup's width, default is 300px
        });
    });
</script>


<script type="text/javascript">
    $(document).ready(function(){
    var pageTitle   = document.title; //HTML page title
    var pageUrl     = location.href; //Location of this page
    
    $('.share-btn-wrp li').click(function(event){
        var shareName = $(this).attr('class').split(' ')[0]; //get the first class name of clicked element
        switch(shareName) //switch to different links based on different social name
        {
            case 'facebook':
            OpenShareUrl('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(pageUrl) + '&amp;title=' + encodeURIComponent(pageTitle));
            break;
            case 'twitter':
            OpenShareUrl('http://twitter.com/home?status=' + encodeURIComponent(pageTitle + ' ' + pageUrl));
            break;
            case 'digg':
            OpenShareUrl('http://www.digg.com/submit?phase=2&amp;url=' + encodeURIComponent(pageUrl) + '&amp;title=' + encodeURIComponent(pageTitle));
            break;
            case 'stumbleupon':
            OpenShareUrl('http://www.stumbleupon.com/submit?url=' + encodeURIComponent(pageUrl) + '&amp;title=' + encodeURIComponent(pageTitle));
            break;
            case 'delicious':
            OpenShareUrl('http://del.icio.us/post?url=' + encodeURIComponent(pageUrl) + '&amp;title=' + encodeURIComponent(pageTitle));
            break;
            case 'gplus':
            OpenShareUrl('https://plus.google.com/share?url=' + encodeURIComponent(pageUrl) + '&amp;title=' + encodeURIComponent(pageTitle));
            break;
            case 'email':
            OpenShareUrl('mailto:?subject=' + pageTitle + '&body=Found this useful link for you : ' + pageUrl);
            break;
        }
        
    });

function OpenShareUrl(openLink){
        //Parameters for the Popup window
        winWidth    = 650; 
        winHeight   = 450;
        winLeft     = ($(window).width()  - winWidth)  / 2,
        winTop      = ($(window).height() - winHeight) / 2,
        winOptions   = 'width='  + winWidth  + ',height=' + winHeight + ',top='    + winTop    + ',left='   + winLeft;
        window.open(openLink,'Share This Link',winOptions); //open Popup window to share website.
        return false;
    }
});

</script>

<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

</body>
</html>